## Cache files
*.cache

## 
home/.local/share
sublime-text-2/.config/sublime-text-2/Packages/User/Package Control.last-run
sublime-text-2/.config/sublime-text-2/Packages/User/Package Control.sublime-settings
